#!/bin/zsh

export KEYTIMEOUT=1 # to kill the lag when going from insert to normal vi mode
export EDITOR=nvim
export TERM=xterm-256color
export XDG_CONFIG_HOME=~/.config
export BROWSER=firefox

{{- if eq .chezmoi.hostname "graphite" -}}
    export PATH=$PATH:$HOME/.cargo/bin
    export JUPYTERLAB_DIR=/home/nico/.jupyter/lab
{{- else if eq .chezmoi.hostname "ist-156-23" -}}
    export PATH=/usr/local/texlive/2024/bin/x86_64-linux:$PATH
{{- end }}
